
	*,
*:before,
*:after {
	/* box-sizing: inherit; */
}

@import url(https://fonts.googleapis.com/css?family=Cousine:400,400italic,700,700italic);
@import url(https://fonts.googleapis.com/css?family=Oswald);
@import url(https://fonts.googleapis.com/css?family=Noto+Serif:400italic,400,700italic,700);
@import url(https://fonts.googleapis.com/css?family=Roboto+Mono);


body {
	background: hsl(200, 5%, 5%);
	margin-left: 0px;
	margin-right: 0px;
}

#post-title {
	font-family: 'Oswald';
	text-transform: uppercase;
	font-weight: 500;
	color: hsl(193, 5%, 5%);
	letter-spacing: 2px;
	font-size: 18px;
	padding: 7px 7px 5px 7px;
	margin-left: 1em;
	margin-right: 1em;
	background-color: hsl(200, 5%, 30%);
	position: absolute;
}

h1 {
	font-family: 'Oswald';
	font-size: 20px;
	font-weight: bold;
	text-transform: uppercase;
	letter-spacing: 3px;
	line-height: 28px;
	color: hsl(200, 5%, 30%);
	margin-top: 0px;
	width: 200px;
	float: left;
}

.work-exp {
	font-weight: 100;
	margin-top: 0px;
}

.sobre {
	outline: none;
	border-bottom: 1px solid currentColor;
	font-family: 'Roboto Mono';
	font-weight: 100;
	font-size: 14px;
	letter-spacing: 2px;
	float: right;
	margin-bottom: 20px;}

h3 {
	font-family: 'Roboto Mono', monospace;
	letter-spacing: 1px;
	font-size: 14px;
	line-height: 20px;
	font-weight: 100;
	color: hsl(200, 5%, 30%);
	margin-top: 0px;
	margin-right: 20px;
}

.description {
	max-width: 380px;
	display: inline-block;
	position: relative;
	padding-left: 10%;
}

@media only screen and (max-width: 1224px) {
	.description {
		padding-left: 0px;
	}

	.links-footer {
		padding-left: 0px !important;
	}

	.info {
		float: left !important;
	}
}

@media only screen and (max-width: 430px) {

	h3 {
		font-size: 14px;
		margin-top: 40px;
	}

	.sobre{
		float: left;
		margin-right:80px;
		margin-bottom: 40px;
	}

	.links-footer {
		width: 200px;
		margin-top: 20px;
	}

	.info {
		margin-top:20px;
		margin-bottom: 60px;
		float:left;
		max-width:20px;

	}
}

p {
	color: hsl(200, 5%, 30%);
	letter-spacing: 0px;
	font-size: 14px;
	line-height: 29px;
	font-family: 'Roboto Mono';
	font-weight: 100;
}

.col-group > div {
  padding: 3em 1em 0;
}

@media screen and (min-width: 50em) {
  .col-group {
    overflow: hidden;
  }
  .col-group > div {
    float: left;
    width: 30%;
		height: auto;
  }
}

#img-home {
	width: 100%;
	height: auto;
}

a {
	color: hsl(200, 5%, 30%);
	font-family: 'Roboto Mono';
	font-weight: 100;
	font-size: 14px;
	letter-spacing: 1px;
	margin-bottom: 20px;
	background-color: transparent;
	border-bottom: 1px solid currentColor;
	text-decoration: none;
	text-align: left;
}

.fa {
	color: hsl(200, 5%, 30%);
	padding-right: 10px;
}

.contato-footer {
	margin-top: -20px;
	width: 200px;
	float: left;
}

.links-footer {
	padding-left: 10%;
	float: left;
	padding-right: 40px;
}

.twitter {
	margin-right: 20px;
	margin-bottom: 40px;
	float: left;
}

.info {
	float: right;
	max-width: 300px;
}

.p-info {
	margin-top: 0px;
	font-size: 10px;
	line-height: normal;
}

a:hover {
	outline: none;
	border-bottom: 2px solid currentColor;
	color: hsl(200, 5%, 55%);
}

.site {
	max-width: 1460px;
	margin-right: auto;
	margin-left: auto;
}

.site-header {
	margin-left: 10%;
	margin-right: 10%;
	padding-bottom: 15vw;
	padding-top: 14vw;
}

.site-footer {
	margin-left: 10%;
	margin-right: 10%;
	padding-bottom: 180px;
	padding-top: 18vw;
}
