*,
*:before,
*:after {
	/* box-sizing: inherit; */
}

@import url(https://fonts.googleapis.com/css?family=Cousine:400,400italic,700,700italic);
@import url(https://fonts.googleapis.com/css?family=Oswald);
@import url(https://fonts.googleapis.com/css?family=Noto+Serif:400italic,400,700italic,700);


html {
	box-sizing: border-box;
	font-family: 'Cousine', ;
	font-size: 16px;

	-webkit-text-size-adjust: 100%;
	-ms-text-size-adjust: 100%;
	-webkit-font-smoothing: antialiased;
}

body {
	background: hsl(193, 36%, 5%);
	line-height: 1.5;
}

.post-title {
	font-family: 'Oswald';
	text-transform: uppercase;
	font-weight: 400;
	color: #161617;
	letter-spacing: 2px;
	font-size: 18px;
	padding: 7px 7px 5px 7px;
	background-color: hsla(0, 0%, 60%, 1);
	position: absolute;
	margin-top: 520px;
	margin-left: 80px;
}

.mid-img {
	position: absolute;
	margin-top: 80px;
	margin-left: -420px;
}

.post-1 {
	margin: 100px;
}

.trabalhos {
	margin-bottom: 70px;
}

.icons {
	margin-top: 15vh;
	opacity: 0.3;
}

h1 {
	font-family: 'Oswald';
	font-weight: 300;
	color: hsl(192, 30%, 35%);
	letter-spacing: 16px;
	line-height: 64px;
	margin-top: 0px;
	font-size: 42px;
}

h2 {
	font-family: 'Cousine';
	font-weight: 100;
	margin-bottom: 6px;
	line-height: 15px;
	text-align: center;
	letter-spacing: 2px;
	color: hsl(192, 30%, 25%);
	font-size: 14px;
	text-transform: uppercase;
}

h3 {
	font-family: 'Cousine', Courier;
	letter-spacing: 1px;
	font-size: 14px;
	line-height: 24px;
	font-weight: 100;
	color: hsl(192, 38%, 20%);
}

.description {
	width: 440px;
}

@media only screen and (max-width: 600px) {
	h1 {
		font-size: 36px;
		line-height: 52px;
		margin-top: 30px;
		margin-bottom: 50px;
	}

	h2 {
		font-family: 'Cousine';
		line-height: 20px;
		/* margin-right: 90px; */
		padding-left: 50px;
		padding-right: 50px;
		margin-bottom: 20px;
	}

	h3{
		padding-left: 10px;
		padding-right: 10px;
	}
}



h4 {
	font-size: 16px;
	font-size: 1rem;
}

h5 {
	font-size: 12px;
	font-size: 0.75rem;
	letter-spacing: 1px;
	text-transform: uppercase;
}

h6 {
	font-size: 12px;
	font-size: 0.75rem;
	font-weight: normal;
	letter-spacing: 1px;
	text-transform: uppercase;
}
/* Copy */




p {
	margin: 0 0 1.5em;
	color: hsla(0, 0%, 30%, 1);;
	font-size: 18px;
	text-transform: uppercase;
	letter-spacing: 2px;
	font-family: 'Cousine';
	font-weight: 100;
}


.alignleft {
	color: hsl(192, 38%, 40%);
	font-family: 'Cousine';
	font-weight: 100;
	font-size: 14px;
	letter-spacing: 4px;
	float: left;
	margin-top: 42px;
	margin-left: 42px;
}

.alignright {
	color: hsl(192, 38%, 40%);
	font-family: 'Cousine';
	font-weight: 100;
	font-size: 14px;
	letter-spacing: 4px;
	float: right;
	margin-top: 42px;
	margin-right: 42px;
}


/* Links */

a {
	color: #323234;
	background-color: transparent;
	text-decoration: none;
}

a:hover {
	outline: none;
	background-color: hsl(192, 38%, 40%);;
	color: hsl(192, 38%, 5%);
	border-left: 10px;
}

.site {
	max-width: 1460px;
	margin-right: auto;
	margin-left: auto;
}

.wrap,
.site-content {
	max-width: 100%;
	margin-top: 5vw;
}

.content-area {
	width: 100%;
}

.site-header {
	margin-bottom: 1.5em;
	padding-bottom: 12vh;
	padding-top: 200px;
	text-align: center;
}

.site-branding {
	display: inline-block;
	max-width: 960px;
	line-height: 0;
	text-align: center;
}

a.site-logo-link {
	display: inline-block;
	height: 3em;
	margin: 0.75em 0;
}

a.site-logo-link img {
	display: inline-block;
	width: auto;
	max-width: 100%;
	height: auto;
	max-height: 3em;
	margin: 0;
	vertical-align: middle;
}

a.site-logo-link:before {
	display: inline-block;
	height: 100%;
	vertical-align: middle;
	content: '';
}

.site-title {
	margin-bottom: 0;
	padding: 1em 0;
}

.site-title a {
	color: #585858;
}

.site-description {
	margin-top: -24px;
	margin-bottom: 1em;
	padding-top: 0;
	color: #bebebe;
	font-size: 12px;
	font-size: 0.75rem;
	font-weight: normal;
	line-height: 1.5;
	letter-spacing: normal;
	text-transform: none;
}
