
	*,
*:before,
*:after {
	/* box-sizing: inherit; */
}

@import url(https://fonts.googleapis.com/css?family=Cousine:400,400italic,700,700italic);
@import url(https://fonts.googleapis.com/css?family=Oswald);
@import url(https://fonts.googleapis.com/css?family=Noto+Serif:400italic,400,700italic,700);
@import url(https://fonts.googleapis.com/css?family=Roboto+Mono);

html {
	box-sizing: border-box;
	font-family: Helvetica, ;
	font-size: 16px;

	-webkit-text-size-adjust: 100%;
	-ms-text-size-adjust: 100%;
	-webkit-font-smoothing: antialiased;
}

body {
	background: hsl(200, 20%, 5%);
	margin-left: 0px;
	margin-right: 0px;
}

#post-title {
	font-family: Helvetica;
	text-transform: uppercase;
	font-weight: 400;
	color: hsl(193, 36%, 5%);
	letter-spacing: 2px;
	font-size: 18px;
	padding: 7px 7px 5px 7px;
	margin-left: 1em;
	margin-right: 1em;
	background-color: hsl(192, 30%, 80%);
	position: absolute;
}


.post-1 {
	margin: 100px;
}

.trabalhos {
	margin-bottom: 70px;
}

.icons {
	margin-top: 15vh;
	opacity: 0.3;
}

h1 {
	font-family: 'Oswald';
	font-size: 20px;
	font-weight: bold;
	text-transform: uppercase;
	letter-spacing: 3px;
	line-height: 28px;
	color: hsl(200, 10%, 35%);
	margin-top: 0px;
	margin-left: 10%;
	width: 200px;
	float: left;
}

.work-exp {
	font-weight: 100;
	margin-top: 0px;
}

.contato {
	color: hsl(200, 10%, 25%);
	font-family: 'Roboto Mono';
	font-weight: 100;
	font-size: 14px;
	letter-spacing: 1px;
	float: right;
	margin-left: 10px;
	margin-right: 10%;
	margin-bottom: 20px;
}

.sobre {
	color: hsl(200, 10%, 25%);
	font-family: 'Roboto Mono';
	font-weight: 100;
	font-size: 14px;
	letter-spacing: 2px;
	float: right;
	margin-left: 10px;
	margin-bottom: 20px;
}

h3 {
	font-family: 'Roboto Mono', monospace;
	letter-spacing: 1px;
	font-size: 14px;
	line-height: 20px;
	font-weight: 100;
	color: hsl(200, 10%, 25%);
	margin-top: 0px;
	margin-right: 20px;
	/* margin-left: 20px; */
}

.title {

}

.description {
	max-width: 380px;
	display: inline-block;
	position: relative;
	padding-left: 10%;
}

@media only screen and (max-width: 410px) {

	h3 {
		font-size: 14px;
		margin-top: 10px;
	}
	.contato {
		float: left;
		margin-left: 10%;
		margin-right: 10px;
	}
	.sobre{
		float: left;
		margin-left: 0px;
	}
	.description{
		max-width: 200px;
	}

	}



p {
	color: hsl(192, 25%, 35%);
	font-size: 14px;
	letter-spacing: 1px;
	line-height: 22px;
	font-family: Helvetica;
	font-weight: 100;
	padding-left: 16px;
	padding-top: 10px;
}




.col-group > div {
  padding: 3em 1em 0;
}

@media screen and (min-width: 50em) {
  .col-group {
    overflow: hidden;
  }
  .col-group > div {
    float: left;
    width: 30%;
		height: auto;
  }
}

#img-home {
	width: 100%;
	height: auto;
}

#img-home-2 {
	width: 60%;
	height: auto;
	position: relative;
	top: -6em;
	left: 1em;
}

#img-home-3 {
	width: 45%;
	height: auto;
	position: relative;
	top: -28em;
	left: 14em;
}


/* Links */

a {
	background-color: transparent;
	border-bottom: 1px solid currentColor;
	text-decoration: none;
	text-align: center;
}

a:hover {
	outline: none;
	border-bottom: 2px solid currentColor;
	color: hsl(200, 10%, 35%);
}

.site {
	max-width: 1460px;
	margin-right: auto;
	margin-left: auto;
}


.content-area {
	width: 100%;
}

.site-header {
	padding-bottom: 15vw;
	padding-top: 14vw;
}

.site-branding {
	display: inline-block;
	width: 200px;
	padding-left: 10%;
