body {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 0px 240px 240px;

}

.content {
  font-family: Rubik;
  font-style: normal;
  font-weight: 300;
  font-size: 72px;
  line-height: 85px;
  color: #12151D;
}

h1 {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  padding: 328px 0px 0px;
}
